@model NewsPaper.Models.NewsModels.New
{}
  
  <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/js/editor.md/css/editormd.min.css" />
    <h4>New</h4>
    <hr />
    <div class="createNewWrapper">
        <div class="col-md-12">
            <form asp-action="GetFormCreateNew">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Specialization" class="control-label"></label>
                    <input asp-for="Specialization" class="form-control" />
                    <span asp-validation-for="Specialization" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <div id="test-editormd">
                        <textarea asp-for="Content" style="display:none;">
                     </textarea>
                    </div>

                    <span asp-validation-for="Content" class="text-danger"></span>

                </div>
                @if (User.IsInRole("ADMIN"))
                {
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">Вернуться у списку записей</a>
    </div>
    <script src="~/js/editor.md/examples/js/jquery.min.js"></script>
    <script src="~/js/editor.md/editormd.min.js"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
